annotated-doc==0.0.4
brotli==1.2.0
certifi==2026.2.25
charset-normalizer==3.4.5
click==8.3.1
colorama==0.4.6
idna==3.11
markdown-it-py==4.0.0
mdurl==0.1.2
mutagen==1.47.0
mypy_extensions==1.1.0
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049101700/work
pathspec==1.0.4
platformdirs==4.9.4
pycryptodomex==3.23.0
Pygments==2.19.2
python-dotenv==1.2.2
pytokens==0.4.1
requests==2.32.5
rich==14.3.3
shellingham==1.5.4
tomli==2.4.0
typer==0.24.1
typing_extensions==4.15.0
urllib3==2.6.3
websockets==16.0
yt-dlp==2026.3.3
yt-dlp-ejs==0.5.0
